<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">User data</h5>
    <div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
            </tbody>
            </table>
    </div>
    <a href="#" class="card-link">Restore Password</a>
  </div>
</div>